.section {
    background-color: white;
    padding-top: 20px;
    margin-bottom: 20px;
}

.section__header {
    border-bottom: 2px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section__heading {
    font-size: 27px;
    margin: 0;
    padding: 0 20px 20px;
}

@media (max-width: 750px) {
    .section__header {
        display: block;
    }
}
